* {
  margin:0;
  padding:0;
}

#carousel {
	width:200%; /* 500% = 100% x length of panel */
	height:100%;
    
    overflow: hidden;
    white-space:nowrap;
}

#carousel .panel {
    display: inline-block;
}

html,
body {
  height:100%;
  min-height:100%;
}

.panel {
  width:20%; /* 100% / length of panel */
  float:left;
  height:100%;
}

.panel .inside-panel {padding:2em}


/* Details (Ignore this!) */
body {
  font:italic normal 13px/1.4 Georgia,Serif;
  color:#666;
}

h2 {
  font-weight:bold;
  font-size:200%;
  margin:0 0 1em;
}

#panel-1 {
  background-color:black;
  color:white;
}

#panel-2 {
  background-color:magenta;
  color:yellow;
}

#panel-3 {
  background-color:darkblue;
  color:lightgreen;
}

#panel-4 {
  background-color:pink;
  color:brown;
}

#panel-5 {
  background-color:darkred;
  color:cyan;
}